body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-family;
  color: $dark-font-color;
}
header {
  position: absolute;
  display: block;
  width: 100%;
  background-image: linear-gradient(to bottom, $bg-color, rgba($bg-color, 0));

  img {
    margin: 1.2rem 1rem 0.2rem 1rem;
    height: 1rem;
  }
  p {
    margin-left: 3.2rem;
    font-size: small;
    padding-bottom: 5rem;
  }
}

#hero {
  width: 100vw;
  img {
    width: 100vw;
  }
}

#opening {
  margin: 1rem;
  max-width: 40ch;
  h1 {
    font-size: x-large;
    padding-bottom: 1rem;
  }
  p {
    padding-bottom: 1rem;
    font-size: small;
    line-height: 1.5;
  }

  form {
    input {
      height: 2rem;
      max-width: 30ch;
      min-width: 20ch;
      padding-left: 4px;
    }
    button {
      height: 2rem;
      width: 4rem;
      background-color: $dark-font-color;
      color: white;
      border: none;
      border-radius: 2px;
    }
  }
}

footer {
  display: block;
  position: relative;
 // bottom: 0;
  font-size: x-small;
  margin: 1rem;
  color: $light-font-color;
  div a {
    margin-right: 1rem;
  }
  #footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    margin: 1rem 0 1rem 0;
    h3 {
      padding-bottom: 0.5rem;
    }
    div {
      line-height: 1.5;
    }
  }
  #links-bottom {
    span,
    a {
      color: $light-font-color;
      margin-right: 1rem;
      //padding-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 320px) {
  #opening {
    h1 {
      font-size: medium;
    }
    p {
      line-height: 1.2;
    }
  }
}

@media screen and (min-width: 321px) {
  header {
    img {
      height: 1.3rem;
      margin: 1.4rem 1.4rem 0.3rem 1.4rem;
    }
    p {
      margin-left: 3.8rem;
    }
  }
  #opening {
    h1 {
      font-size: xx-large;
    }
    p {
      font-size: large;
      line-height: 1.2;
    }
  }
}