body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: $font-family;
  color: $dark-font-color;
  background-color: $bg-color;
}
header {
  position: absolute;
  display: block;
  width: 100%;
  background-image: linear-gradient(to bottom, $bg-color, rgba($bg-color, 0));

  img {
    margin: 1.2rem 1rem 0.2rem 1rem;
    height: 1rem;
  }
  p {
    margin-left: 3.2rem;
    font-size: small;
    padding-bottom: 5rem;
  }
}

#hero {
  width: 100vw;
  img {
    width: 100vw;
  }
}

#opening {
  margin: 1rem;
  
  h1 {
    font-size: x-large;
    padding-bottom: 1rem;
  }
  p {
    max-width: 40ch;
    padding-bottom: 1rem;
    font-size: small;
    line-height: 1.5;
  }

  form {
    input {
      height: 2rem;
      max-width: 30ch;
      min-width: 20ch;
      padding-left: 4px;
    }
    button {
      height: 2rem;
      width: 4rem;
      background-color: $dark-font-color;
      color: white;
      border: none;
      border-radius: 2px;
      transition: background-color ease-in 0.3s;
      //animation: gradient 1s linear 1;
      //animation-play-state: paused;


      &:hover {
        background-color: rgb(149, 168, 54);
       // background-image: linear-gradient(to right, white,rgba(255,255,255,0.3));
        animation-play-state: running;
        
      }
    }
  }
}
/*
@keyframes gradient {
  100% {
    background-size: cover;

  }
}*/

footer {
  display: block;
  position: relative;
  // bottom: 0;
  font-size: x-small;
  padding: 1rem;
  color: $light-font-color;
  div a {
    margin-right: 1rem;
  }
  #footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    margin: 1rem 0 1rem 0;
    h3 {
      padding-bottom: 0.5rem;
    }
    div {
      line-height: 1.5;
    }
  }
  #links-bottom {
    span,
    a {
      color: $light-font-color;
      margin-right: 1rem;
      //padding-bottom: 1rem;
    }
  }
}



@media screen and (min-width: 320px) {
  header {
    img {
      height: 1.3rem;
      margin: 1.4rem 1.4rem 0.3rem 1.4rem;
    }
    p {
      margin-left: 3.8rem;
    }
  }
  #opening {
    h1 {
      font-size: xx-large;
    }
    p {
      font-size: large;
      line-height: 1.2;
    }
  }
}

@media screen and (min-width: 700px) {
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "header hero"
      "opening hero"
      "footer hero";
  }

  header {
   grid-area: header;
  }

  #hero {
    grid-area: hero;
    background: url("/images/photo-1445116572660-236099ec97a0-2.jpeg");
    background-size: cover;
    background-position: center;
    img {
     display: none;
    }
  }

  #opening {
    grid-area: opening;
  }

  footer {
   grid-area: footer;
  }
}

@media screen and (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "header hero"
      "opening hero"
      "footer hero";
  }

  header {
    position: relative;
   grid-area: header;
   padding: 2rem 2rem 1rem 2rem;
   img{
     height: 1.8rem;
   }
   p {
     font-size: medium;
     padding-top:0.5rem;
     padding-left: 1rem;
     padding-bottom: 3rem;
   }
  }

  #hero {
    grid-area: hero;
    width: 100%;
    background: url("/images/photo-1445116572660-236099ec97a0-2.jpeg");
    background-size: cover;
    background-position: center;
    img {
     display: none;
    }
  }

  #opening {
    grid-area: opening;
    max-width: 80%;
    padding: 0 3rem 0rem 3rem;
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      margin-top: 0rem;
    }
    p {
      font-size: large;
    }
    form {
      margin-top: 1rem;
      input {
        height: 2rem;
        width: 30ch;
        font-size: small;
      }
      button {
        margin-left: 0.5rem;
        height: 2rem;
        width:8rem;
        font-size: small;
      }
    }
  }

  footer {
   grid-area: footer;
   font-size: x-small;
   margin: 3rem 3rem 0 3rem;
  
   #social {
   img {
     height: 1.5rem;
     padding-right: 1.5rem;
     margin-bottom: 1rem;
   }
   }

   #links-bottom {
     margin-top: 2rem;
   }
   
  }
}

@media screen and (min-width: 1900px) {
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      "header hero"
      "opening hero"
      "footer hero";
  }

  header {
    position: relative;
   grid-area: header;
   padding: 3rem;
   img{
     height: 2.5rem;
   }
   p {
     font-size: medium;
     padding-top:0.5rem;
     padding-left: 2.1rem;
     padding-bottom: 1rem;
   }
  }

  #hero {
    grid-area: hero;
    width: 100%;
    background: url("/images/photo-1445116572660-236099ec97a0-2.jpeg");
    background-size: cover;
    background-position: center;
    img {
     display: none;
    }
  }

  #opening {
    grid-area: opening;
    max-width: 80%;
    padding: 3rem;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: xx-large;
    }
    form {
      margin-top: 1rem;
      input {
        height: 3rem;
        width: 40ch;
        font-size: medium;
      }
      button {
        margin-left: 0.5rem;
        height: 3rem;
        width:8rem;
        font-size: large;
      }
    }
  }

  footer {
   grid-area: footer;
   font-size: medium;
   margin: 3rem 3rem 0 3rem;
  
   #social {
   img {
     height: 2rem;
     padding-right: 1.5rem;
     margin-bottom: 1rem;
   }
   }

   #links-bottom {
     margin-top: 2rem;
   }
   
  }
}

